<!--Defines the Nav Bar and uses bootstrap to style it-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!--to make the nav bar fill the whole area-->
    <div class="container-fluid">
      <!--Makes a watermark as my name in the corner-->
      <a class="navbar-brand" href="#">Hashir Khan</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <!--home button-->
            <% if(title=="Home"){ %>
            <a class="nav-link active" href="/home">
            <% } else { %>
              <a class="nav-link" href="/home">
              <% } %>
              <i class="fa-solid fa-house-chimney"></i> Home</a>
          </li>
          <li class="nav-item">
            <!--about me button-->
            <% if(title=="About Me"){ %>
            <a class="nav-link active" href="/aboutme">
            <% } else { %>
            <a class="nav-link" href="/aboutme">
            <% } %>
            <i class="fa-solid fa-circle-info"></i> About Me</a>
          </li>
          <li class="nav-item">
            <!--projects button-->
            <% if(title=="Projects"){ %>
              <a class="nav-link active" href="/projects">
              <% } else { %>
              <a class="nav-link" href="/projects">
              <% } %>
              <i class="fa-solid fa-bars-progress"></i> Projects</a>
          </li>
          <li class="nav-item">
            <!--contact me button-->
            <% if(title=="Contact Me"){ %>
              <a class="nav-link active" href="/contactme">
              <% } else { %>
                <a class="nav-link" href="/contactme">
              <% } %>
              <i class="fa-solid fa-address-book"></i> Contact Me</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>